---
title: Dyadic EKM Service Broker for PCF
owner: Partners
---

This documentation describes the Dyadic Enterprise Key Management (EKM) Service Broker for Pivotal Cloud Foundry (PCF).
The EKM Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace.

## <a id='overview'></a>Overview

Dyadic Enterprise Key Management (EKM) provides a scalable, key management platform for both virtualized and non-virtualized environments.
Dyadic EKM is a software solution that delivers security guarantees comparable to ones that require deployment and
integration of the dedicated hardware elements.

Using Dyadic EKM Service Broker for PCF, developers store and manage cryptographic keys with a software solution
that provides the same strong levels of security as a hardware solution (Hardware Security Modules).

Keys remain as secure as if they were locked in hardware because, with the Dyadic EKM, key material is never exposed in clear text at any point during the key lifecycle, even when it is created or in use. Maintain full control of your keys anywhere: on-prem, on the cloud, any key, and any cloud.

Dyadic EKM Service Broker for PCF includes the following key features:

*   Hardware-grade security without hardware
*   Elastic and scalable
*   Platform agnostic and supports cloud vendors, including but not limited to AWS, Azure, and GCP
*   Supports all standard RSA, AES and ECC keys while remaining transparent to the app
*   Transparently supports standard crypto-frameworks: Java JCE, KMIP, PKCS#11, and Microsoft CNG
*   Lifecycle management of crypto-keys including partitioning, BYOK (Bring Your Own Key), generation, renewal, archiving, and revocation

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Dyadic EKM Service Broker for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 7, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.2.11756.1694</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id='license'></a>License

There are no license requirements for the EKM Service Broker.

##<a id='next step'></a> The Next Step

Request an Evaluation Package by completing [this form](https://info.dyadicsec.com/pivotal_eval_request/) on the Dyadic website.



## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) or send an email to support@dyadicsec.com.
