---
title: Dyadic EKM Service Broker for PCF 1.2
owner: Partners
---



This documentation describes the Dyadic Enterprise Key Management (EKM) Service Broker for Pivotal Cloud Foundry (PCF). 
The EKM Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. 
///AMY/// Developers can store and manage cryptographic keys in a pure-software solution that provides the same strong levels of security that they would find in a hardware solution. Keys remain as secure as if they were locked in hardware, because with the Dyadic EKM - key material is never exposed in clear text at any point during the key lifecycle, not even when it’s created or when it’s in use. Maintain full control of your keys anywhere: on-prem, on the cloud, any key, any cloud.

## <a id='overview'></a>Overview

Dyadic EKM Service Broker for PCF includes the following key features:

* Hardware level security - without hardware.
* Elastic and easily scalable.
* Supports all cloud providers.
* Supports all standard crypto algorithms and APIs

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Dyadic EKM Service Broker for PCF details:</dt>
<dd><strong>Version</strong>: v1.2 </dd>
<dd><strong>Release date</strong>: February 1 2017</dd>
<dd><strong>Software component version</strong>: v1.2.11756.1694</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.2.11756.1694</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.2.11756.1694</dd>
<dd><strong>vSphere support?</strong> YES</dd>
<dd><strong>OpenStack support?</strong> YES</dd>
<dd><strong>AWS support?</strong> YES</dd>
</dl>

## <a id="reqs"></a>Requirements


Dyadic EKM Service Broker for PCF has the following requirements:

+ OpenSSL

+ libapr version 1.3 or newer must be installed prior to installing the EKM Client To install libapr on Red Hat use the following command: sudo yum install apr

## <a id="limitations"></a>Limitations

<dl>
<dt>EKM Client runs on the following Operating Systems:</dt>
<dd>Windows Version 7, 8.1, 10 (32) and (64)</dd>
<dd>Windows Version 2008 R2 (64)</dd>
<dd>Windows Version 2012 R2 (64)</dd>
<dd>Linux RHEL 6.5 (32) and (64) and up</dd>
<dd>Linux CentOS 6.5 (64) and up</dd>
<dd>Ubuntu 12.04 (64) and up</dd>
</dl>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@dyadicsec.com. 

## <a id='license'></a>License

There are no license requirements on the client
